<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
    <div class="root bg-light container-fluid d-flex justify-content-center align-items-center">
        <%- body %>
    </div>
</body>
</html>